*.iml
*init.clj
.idea
out-simp
out-simp-node
out-adv
out-adv-node
/target
/lib
/classes
/checkouts
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
tests.js
tests.js.map
out
pom.xml.versionsBackup
/.lumo_cache
/.planck_cache
