*.iml
*init.clj
.idea
.nrepl-port
out-simp
out-simp-node
out-adv
out-adv-node
/target
/lib
/classes
/checkouts
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
tests.js
tests.js.map
pom.xml.versionsBackup
.cpcache/
.clj-kondo/.cache
.calva/
.lsp/
.vscode/
