name: Test VThreads

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      asyncRef:
        description: "The branch, tag or SHA to checkout"
        required: true
        default: 'master'

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest] # macOS-latest, windows-latest]
        java-version: ["8", "11", "17", "21"]
        clojure-version: ["1.10.3", "1.11.4", "1.12.0"]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Set up Clojure
      uses: DeLaGuardo/setup-clojure@13.1
      with:
          cli: 'latest'    
    - name: Checkout Clojure Source Code
      uses: actions/checkout@v4
      with:
          ref: ${{ github.event.inputs.asyncRef }}
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: 'maven'
    - name: test with test-runner
      run: clj -X:dev:test -Sdeps '{:deps {org.clojure/clojure {:mvn/version ${{ matrix.clojure-version }} }}}' :dirs '["src/test/clojure"]'
